.leaflet-popup-pane{
    z-index: 1000 !important;
    position: absolute;
    top: 15%; right: 1%;
    /* width: 26em; */
  }

.popup-entering,
.popup-exiting {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.popup-entered {
  opacity: 1;
  transform: scale(1);
}
